Proizvodi.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Prodavnica" type="ProdavnicaType"/>
  <xs:complexType name="KategorijaType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="vrsta" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
<xs:simpleType name="minCena">
  <xs:restriction base="xs:float">
    <xs:minInclusive value="0"/>
  </xs:restriction>
</xs:simpleType>
  <xs:complexType name="CenaType">
    <xs:simpleContent>
      <xs:extension base="minCena">
        <xs:attribute type="xs:string" name="valuta" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AkcijaType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:float" name="cena" use="optional"/>
        <xs:attribute type="xs:date" name="datum" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ProizvodType">
    <xs:sequence>
      <xs:element type="KategorijaType" name="Kategorija"/>
      <xs:element type="CenaType" name="Cena"/>
      <xs:element name="Naziv"><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="10"/><xs:maxLength value="180"/></xs:restriction></xs:simpleType></xs:element>
      <xs:element type="xs:string" name="Tag" maxOccurs="5" minOccurs="1"/>
      <xs:element type="AkcijaType" name="Akcija"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProdavnicaType">
    <xs:sequence>
      <xs:element type="ProizvodType" name="Proizvod" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>